body {
	font-family: Verdana;
}

#main {
	
}

header {
	background-color: rgb(154,101,0);
	color: white;
	padding: 9px;
	width: 88.7%;
	margin-left: 140px;
}

header h4, p {
	margin: 0;
	padding: 8px;
	
}

h3, h4, ul {
	margin: 0;
}

header p {
	padding-left: 15px;
	font-size: 12px;
	padding-bottom: 30px;
}

#main-content {
	width: 90%;
	margin: 0;
	margin-left: 140px;
}

#left-aside {
	display: inline-block;
	background-color: rgb(88,32,31);
	width: 15%;
	margin: 0;
	float: left;	
	height: 488px;
}

#right-aside {
	display: inline-block;
	background-color: rgb(135,135,75);
	width: 15%;
	margin-top: -100px 0 0 0;
	height: 488px;
}

article {
	display: inline-block;
	background-color: rgb(255,255,205);
	width: 70%;
	margin: 0;
	float: left;
	height: 488px;
}

aside, article {
	margin: 0;
}

#wrap-nav {
	color: white;
	font-size: 14px;
	width: 70%;
	height: 250px;
	background-color: rgb(100,51,47);
	padding: 15px;
}

#wrap-nav h3{
	text-align: center;
	padding-bottom: 30px;
	padding-top: 10px;
}

#wrap-right-side {
	background-color: rgb(153,151,102);
	height: 90px;
	padding-left: 30px;
}

#wrap-right-side h3 {
	text-align: right;
	padding-right: 20px;
	padding-top: 20px;
}

ul li {
	font-size: 11px;
	padding-bottom: 30px;
}

footer {
	height: 40px;
	width: 88.7%;
	background-color: rgb(101,101,101);
	font-size: 13px;
	text-align: center;
}

footer p {
	padding-top: 15px;
}	