body {
	min-width: 500px;
	min-height: 500px;
}

div {
	margin: 0.3%;
}

#header {
	min-width: 325px;
	width: 25%;
	min-height: 20px;
	height: 10vh;
	background-color: rgb(73, 126, 126);
}

#content {
	min-width: 327px;
	width: 25%;
}

#content-left {
	display: inline-block;
	min-width: 70px;
	width: 32.3%;
	min-height: 165px;
	height: 35vh;
	background-color: rgb(215, 0, 172);
}

#content-right {
	display: inline-block;
	min-width: 120px;
	width: 65.3%;
	min-height: 165px;
	height: 35vh;
	background-color: rgb(73, 255, 0);
}

#footer {
	min-width: 325px;
	width: 25%;
	min-height: 20px;
	height: 10vh;
	background-color: rgb(0, 73, 255);
{